<div class="container text-center">
<H1>We Are Ideas Imprint Incorporated</H1>
<p>We're building a website & app for nightlife in Vancouver. We also provide 
business solutions for all companies involved in creating events in the city.</p>
<p>Ideas Imprint Inc. provides business solutions from printing to computer 
programs as well as advertising & marketing management. With a team full 
of 
sales people, computer programmers, designers and photographers we're an 
unstoppable multi-media marketing firm.</p>
</div>